---
import AdminLayout from '../../../layouts/AdminLayout.astro';
import VehicleForm from '../../../admin/VehicleForm';
---

<AdminLayout title="Nuovo Veicolo">
    <div class="w-full py-6">
        <VehicleForm client:load />
    </div>
</AdminLayout>
